.user {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 120px;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
  border: solid 3px #fff;
}
.username {
  color: #fff;
}
.disconnect-button {
  color: #5c49d3;
  background-color: #fff;
}
