.welcome-text {
  width: 60%;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.welcome-page {
  display: flex;
  padding: 50px 10%;
  flex-direction: row;
  justify-content: space-around;
}

.welcome-button {
  margin-left: 50px;
}

.taskJpg {
  position: absolute;
  top: 300px;
  left: 500px;
  transform: rotate(25deg);
  width: 350px;
  left: 30%;
}

@media (max-width: 1430px) {
  .taskJpg {
    width: 320px;
  }
  .welcome-text {
    width: 80%;
  }
}

@media (max-width: 1260px) {
  .taskJpg {
    width: 300px;
  }
  .welcome-text {
    width: 80%;
  }
}

@media (max-width: 1240px) {
  .taskJpg {
    display: none;
  }
  .welcome-page {
    flex-direction: column;
    padding: 25px 5%;
    align-items: center;
  }
  .welcome-text {
    width: 100%;
  }
  .welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .welcome-button {
    margin-left: 0px;
  }
}
